@use './variables' as v;
@use './mixins' as m;

.circle {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: v.$green;
    clip-path: circle(39.0% at 5% 3%);

    //this is for both smartphones and tablets
   @media screen and (max-width: v.$mobile) {
        clip-path: circle(11.5% at 98% 3%);
        z-index:4000;
    }

}

