@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&display=swap');

$font-family: 'Poppins', sans-serif;
$yellow: #f7b731;
$green: #0fb9b1;
$pink: #cf6a87;
$background-color: #f1f2f6;
$grey: grey;
$lightGreen: #778ca38c;
$white:#ffffff;
$lightGrey:#dcdde1;
$mobile: 800px;
$tablet: 1199px;
$pc: 1200px;