@use './header';
@use './aside';
@use './home';
@use './circle';
@use './nav';
@use './messages';
@use './likes';
@use './videos';
@use './modal';
@use './searchBar';
@use './searchBtn';
@use './variables' as v;
@use './mixins' as m;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size:14px;
    font-family: v.$font-family;

    @media screen and (max-width: v.$mobile) {
        font-size: 16px;
    }
}

.App {
    width:100vw;
    height:100vh;

    @media screen and (min-width: 800px) and (max-width: v.$tablet) {
        width:100%;
    }
}

.App .app-content {
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-template-areas: 
    "aside head head head head head head head head head head head"
    "aside main main main main main main main main main main main"
    "aside main main main main main main main main main main main"
    "aside main main main main main main main main main main main";

    @media screen and (max-width: v.$mobile) {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(60px, auto);
        grid-template-areas: 
        "head head head head"
        "main main main main"
        "main main main main"
        "main main main main";
    }

    @media screen and (min-width: 800px) and (max-width: v.$tablet) {
        width:90%;
        height:auto;
        margin:0 auto;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(60px, auto);
        grid-template-areas: 
        "head head head head head head head head head head head head"
        "main main main main main main main main main main main main"
        "main main main main main main main main main main main main"
        "main main main main main main main main main main main main";
    }
}

.App .app-content main {
    grid-area: main;
    z-index:1000;
    width:100%;
    height:(100vh - 10vh);
    @include m.flex-box(center, row); 

    @media screen and (max-width: v.$mobile) {
        @include m.flex-box(center, row); 
        align-items:flex-start; //overrides align items in flexbox mixin
    }
}

.main-wrapper {
    width:92%;
    height:90%;


    @media screen and (max-width: v.$mobile) {
        width:100%;
        height:auto;
        padding:0 20px;
    }

    @media screen and (min-width: 800px) and (max-width: v.$tablet) {
        width:100%;
    }
}

@media screen and (min-width: v.$pc) {
    .search-btn, .search-bar {
        display:none;
    }
}










